<section class="banner-landscape split collection-fix landscape-19">
    <div class="col-sm-offset-7 col-sm-5 content text-invert text-center barley_hide_outline" data-barley="collection-bar-soap-header" data-barley-editor="advanced" contenteditable="false">
        <br>
        <br>
        <hgroup>
            <h1 class="heading">
                {{big_text}}
            </h1>
            <h2 class="heading regular">
                {{medium_text}}
            </h2>
        </hgroup>
        <p class="vspace">
            {{small_text}}
        </p>
    </div>
    <div class="overlay row hpad">
        <div class="col-sm-7 hidden-xs" data-barley="bar-soap-bg" data-barley-editor="image">
            <img src={{foreground_image}} alt="" class="img-responsive">
        </div>
    </div>
</section>