<section class="banner-landscape split landscape-8">
    <div class="col-lg-offset-6 col-lg-5 col-sm-offset-5 col-sm-7 content text-invert text-center">
        <div data-barley="collection-cologne-header" data-barley-editor="advanced">
            <br><br>
            <hgroup>
                <h1 class="heading">{{big_text}}</h1>
                <h2 class="heading regular">{{medium_text}}</h2>
            </hgroup>
            <p class="vspace">{{small_text}}</p>
        </div>
    </div>
    <div class="overlay row hpad">
        <div class="col-md-4 col-lg-offset-2 col-sm-2 col-md-offset-1 col-sm-offset-2 hidden-xs" data-barley="cologne-bg" data-barley-editor="image">
            <img src="{{foreground_image}}" alt="" class="img-responsive">
        </div>
    </div>
</section>