<section class="banner-landscape split landscape-8">
    <div class="col-lg-offset-6 col-lg-5 col-sm-offset-5 col-sm-7 content text-invert text-center">
        <div data-barley="collection-cologne-header" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
            <br>
            <br>
            <hgroup>
                <h1 class="heading">
                    {{big_text}}
                </h1>
                <h2 class="heading regular">
                    {{medium_text}}
                </h2>
            </hgroup>
            <p class="vspace">
                {{small_text}}
            </p>
        </div>
    </div>
    <div class="overlay row hpad">
        <div class="col-md-4 col-lg-offset-2 col-sm-2 col-md-offset-1 col-sm-offset-2 hidden-xs barley_hide_outline" data-barley="cologne-bg" data-barley-editor="image" contenteditable="false">
            <img src={{foreground_image}} alt="" class="img-responsive">
        </div>
    </div>
</section>


<!--<section class="banner-landscape landscape-8" data-barley="index-bg-img" data-barley-editor="bgimage">-->
    <!--<div class="col-sm-offset-7 col-sm-5 content text-invert text-center home-layout">-->

        <!--&lt;!&ndash;<div class="col-xs-12 hidden-sm hidden-md hidden-lg" data-barley="index-header-img" data-barley-editor="image">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="/images/CedarCitrus-xxl.png" alt class="header-img-top-sm-home">&ndash;&gt;-->
        <!--&lt;!&ndash;</img>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div data-barley="index-header" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">-->
            <!--<hgroup>-->
                <!--<h1 class="heading">-->
                    <!--{{big_text}}-->
                <!--</h1>-->
                <!--<h2 class="heading regular">-->
                    <!--{{medium_text}}-->
                <!--</h2>-->
                <!--<br>-->
                <!--<p class="vspace">-->
                    <!--{{small_text}}-->
                <!--</p>-->
            <!--</hgroup>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="overlay row hpad">-->
        <!--<div class="col-sm-6 hidden-xs" data-barley="best-sellers-bg" data-barley-editor="image">-->
            <!--<img src={{foreground_image}} alt="" class="img-responsive">-->

        <!--</div>-->
    <!--</div>-->
<!--</section>-->
