<section class="banner-landscape split shave_new_banner">
    <div class="col-lg-offset-7 col-lg-5 col-sm-offset-5 col-sm-7 content text-invert text-center">
        <div data-barley="collection-shave-header" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
            <br>
            <br>
            <hgroup>
                <h1 class="heading">{{big_text}}</h1>
                <h2 class="heading regular">{{medium_text}}</h2>
            </hgroup>
            <p class="vspace">{{small_text}}</p>
        </div>
    </div>
    <div class="overlay row hpad">
        <div class="col-md-7 col-sm-7 hidden-xs barley_hide_outline" data-barley="shave-bg" data-barley-editor="image" contenteditable="false">
            <img src="{{foreground_image}}" alt="" class="img-responsive">
        </div>
    </div>
</section>