



	


.listing-product-rating {
	margin-top: 10px;
}

.product-avg-rating {
	margin-bottom: 10px;
}

#product-reviews-list-row {
	margin-top: 25px;
	margin-bottom: 50px; 
}

.product-reviews-list-heading {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;

	font-family: LibreBaskerville-Regular;
}

.product-review {
	padding-top: 20px;
}

.product-review-info {
	margin-bottom: 15px;
	overflow: auto;
}

.product-review-meta {
	float: left;
}

.product-review-rating {
	float: right;
}

.product-review-content {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.product-review-title {
	margin-bottom: 10px;
	font-family: LibreBaskerville-Regular;
}

.product-review-body {
	font-size: 14px;
	font-family: ;
}

.product-rating .cancel-on-png,
.product-rating .cancel-off-png,
.product-rating .star-on-png,
.product-rating .star-off-png,
.product-rating .star-half-png {
	color: #938983;
}

#reviews-show-more {
	margin-top: 15px;
	display: inline-block;
	color: #938983;
}

.write-review-heading {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px; 
	
	font-family: "LibreBaskerville-Regular";
}


.write-review-message {
	margin: 15px 0;
	font-family:	"LibreBaskerville-Regular";
}



	


.write-review-message a {
	color: #938983;
}

.write-review-rating-row {
	padding-top: 20px;
	padding-bottom: 20px;
}

.write-review-rating-label {
	font-family:	"LibreBaskerville-Regular";
	font-size: 14px;
	margin-right: 20px;
}

#write-review-rating {
	line-height: 22px;
	vertical-align: middle;
	display: inline-block;
}

#write-review-rating .cancel-on-png,
#write-review-rating .cancel-off-png,
#write-review-rating .star-on-png,
#write-review-rating .star-off-png,
#write-review-rating .star-half-png {
	color: #938983;
	font-size: 22px;
}

.write-review-title {
	font-family: "";
	color: ;
	font-size: 14px;
	font-weight: 300;
	padding-left: 5px;
	border: 1px solid ;
}

.write-review-body {
	font-family: "";
	color: ;
	font-size: 14px;
	border: 1px solid ;
}

.customer-product-review {
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

.customer-product-review:last-child {
	border-bottom: 0;
}

.customer-product-rating {
	float: right;
	color: #938983;
}

.customer-product-review.customer-product-review-hidden {
	display: none;
}

.customer-product-review h4 {
	margin-bottom: 10px;
	margin-top: 6px;
	font-size: 13px;
}